@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background white
  

.control-buttons
  display flex
  justify-content space-between
    
button, .button
  
  background black
  flex-basis 48%
  display inline-block
  line-height 2
  text-decoration none
  text-align center
  font-size 35px
  color white
  transition all 0.2s
  box-sizing padding-box
  margin-top 5px
  margin-bottom 50px
  width: 345px
  padding: 10px
  border-radius 10px
  border-style none
  &:hover, &:focus
    border-color blue
    outline 0

.form-margin-top
  margin-top -200px

.formEl
  text-align center
  margin-top 40px
  height: 75px
  width: 95%
  padding 11px
  border-radius 6px
  text-align left
  font-size xx-large
  border 1px solid black

.dealerList
  margin-top 85px

.dealerCard
  border 1px black solid
  font-size 30px
  list-style none
  margin-bottom 25px
  padding 30px 20px
  background offwhite
  margin-left -30px
  width 102%
  border-radius 10px
  color blue

.center
  text-align center

.image
  margin-top -185px

.choice
  font-size 85px
  font-weight 100
  margin-top 10px
  margin-bottom 0px

.rating-span
  margin-top 0

.rating
  width 55px
  height 55px  
  margin-left 10px
  margin-right 10px
  vertical-align middle
  margin-top -28px

.rating-description
  margin-top 0px
  font-size 45px
  margin-bottom 24px

.inline 
  display inline

.comments
  height 200px

.new-form-button
  margin-top 30px

